body {
	padding-top: 70px;
}

.images {
	float:right;
	margin-left: 10px;
	width:220px;
	clear:both;
	text-align: center;
}

.navbar-header {
	margin: auto;
}

.image-head {
	display: inline-block;
	margin: auto;
	width:25em;
	text-align:center;
}

.caption-style {
	padding-top: 10px;
}

.center {
	text-align:center;
}